<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span  class="milogo">
    &#123;NASA<span class="pi">pi</span>&#125;
  </span>
    <div class="spacer"></div>
    <div class="pos">
      
      <a class="btn  btn-w p" href="/home">
        <span >
          &#123;Home&#125;
        </span>
      </a>
      <a class="btn  btn-w p" href="/apod">
        <span >
          &#123; Astronomy Picture of the Day&#125;
        </span>
      </a>
      
    </div>
</div>


<div class="content" role="main">
  <div class="main2">

    <router-outlet></router-outlet>

  </div>
    
 
</div>

